<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>
<body>
  
</body>
</html>
</head>
<body>
  
</body>
</html>
<table id="list">
  
    <h1>Available Apartments</h1>
    <thead>
        <tr>
          <th>Apartment Name</th>
          
          <th>Address</th>
          <th>Vacany</th>
          <th></th>
        </tr>
        <tbody>
          <tr>
        <% rents.forEach(function(r) { %>
        <td><%=r.apartment %></td>
        <td><%= r.address %></td>
        <td><%= r.vacant ? 'Yes' : 'No' %></td>
        <td><a href='/rents/<%=r._id %>'>Vents</td>
        </tr>
      <% }); %>
      
      
    </tbody>
  </table>
  