<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Document</title>
</head>
<body>
    <h2>Add New Apartment</h2>
<form action='/rents' method='POST'>
  <label>Apartment:
    <input type='text' name='apartment'>
  </label><br>
  <label>Address: 
      <input type='text' name='address'>
  </label>
 <label>Apartments Available:
   <select name='vacant'>
     <option value='true'>Yes</option>
     <option value='false'>No</option>
   </select>
 </label>
  <input type='submit' value= 'Add Apartment'>

</body>
</html>